/* css reset + global styles */
html:focus-within {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

/* ================================================ */

body {
  /* background-color: rgb(250, 250, 250); */
  /* background-color: rgb(246, 245, 239); */
  background-color: white;
}

a {
  font-family: Great Vibes;
  text-decoration: none;
  padding: 5px;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.golden-line-top {
  padding-top: 20px;
  border-bottom: 1px solid rgba(188, 133, 81, 253);
}

.golden-line-bottom {
  padding-top: 20px;
  border-top: 1px solid rgba(188, 133, 81, 253);
}

/* .leaves {
  background-image: url(img/tree.png);
  height: 60px;
  background-repeat: repeat-x;
  background-size: 200px;
  margin-top: 10px;
} */

.main {
  width: 90%;
  margin: 10px auto;
}

.main__logo {
  width: 30%;
  display: block;
  margin: 30px auto;
}

.main__welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__welcome-lang {
  width: 50%;
  /* max-width: 250px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  /* height: 450px; */
  justify-content: space-around;
  /* upravit height */

  margin: 20px 50px;
  margin-bottom: 0;
}

.main__welcome--lang-choice {
  text-align: center;
  padding-top: 10px;
}

.main__welcome-cz,
.main__welcome-fr {
  font-family: Great Vibes;
  font-size: 30px;
  /* padding-bottom: 25px; */
}

.main__lang-choice {
  font-family: Great Vibes;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__welcome-fr {
  color: rgba(188, 133, 81, 253);
}

.main__lang-choice--fr a {
  color: rgba(188, 133, 81, 253);
}

.main__lang-choice--cz {
  padding: 10px 50px;
  background-image: url('img/tree.png'), url('img/tree.png');
  background-size: 80px;
  background-repeat: no-repeat, no-repeat;
  background-position-x: -33px, 111px;
  background-position-y: 20px;
}

.main__lang-choice--fr {
  padding: 10px 50px;
  background-image: url('img/tree.png'), url('img/tree.png');
  background-size: 80px;
  background-repeat: no-repeat, no-repeat;
  background-position-x: -33px, 132px;
  background-position-y: 20px;
}

/* ================ menu ================ */
.header {
  border-bottom: 1px solid rgb(117, 140, 120);
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
}

.navbar__hamburger {
  display: block;
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin: 15px 0;
}

.navbar__hamburger.active .navbar__hamburger-bar:nth-child(2) {
  opacity: 0;
}

.navbar__hamburger.active .navbar__hamburger-bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.navbar__hamburger.active .navbar__hamburger-bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.navbar__hamburger-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.navbar__menu {
  position: fixed;
  right: -100%;
  top: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  transition: 0.3s;
  background-color: white;
}

.navbar__menu.active {
  right: 0;
}

.menu__item {
  margin: 15px 0;
}

.menu__link {
  /* font-family: Bilbo Swash Caps; */
  font-family: Great Vibes;

  font-size: 26px;
}

.menu__logo {
  width: 130px;
}

/* ============== main section ============= */
.container {
  display: flex;
}

.container__bigger {
  margin: 2%;
  width: 100%;
  height: 700px;

  min-width: 300px;
  background: rgba(188, 133, 81, 253);
  border: rgba(188, 133, 81, 253) solid 2px;
  clip-path: polygon(
    2% 0%,
    97% -2%,
    100% 4%,
    100% 96%,
    98% 100%,
    2% 100%,
    0% 96%,
    0% 4%
  );
}

.container__smaller {
  justify-content: center;
  margin: 0;
  min-width: 296px;
  height: 696px;
  background: white;
  clip-path: polygon(
    2% 0%,
    97% -2%,
    100% 4%,
    100% 96%,
    98% 100%,
    2% 100%,
    0% 96%,
    0% 4%
  );
}

/* .container__smaller {
      justify-content: center;
      margin: 0;
      min-width: 296px;
      height: 696px;
      background: rgb(239, 215, 219);
      clip-path: polygon(
        5% 0%,
        97% 0%,
        100% 5%,
        100% 97%,
        97% 100%,
        5% 100%,
        0% 97%,
        0% 5%
        );
      } */

/* ========== homepage container ============== */

.container__couple {
  display: flex;
  flex-direction: column;
}

.container__couple-photo {
  position: relative;
  height: 70vh;
  background-image: url('img/photo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  z-index: -1;
}

.container__couple-text {
  position: absolute;
  bottom: 5vw;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: Great Vibes;
  font-size: 8vw;
  text-align: center;
}

.container__announcement {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

.announcement__half-logo1 {
  margin-left: 7%;
  margin-right: auto;
  margin-top: 30px;
}

.announcement__half-logo2 {
  margin-left: auto;
  margin-right: 7%;
  margin-bottom: 30px;
  margin-top: -40px;
}

.announcement__half-logo2,
.announcement__half-logo1 {
  width: 200px;
}

.announcement__info {
  margin-left: auto;
  margin-right: auto;
  /* font-family: Bilbo Swash Caps; */
  font-family: Great Vibes;
  font-size: 5vw;
  margin-bottom: 15px;
}

@media (min-width: 542px) {
  .container__couple-photo {
    height: 91vh;
  }
}

@media (min-width: 769px) {
  .main {
    height: 88.5vh;
  }

  .main__logo {
    width: 25%;
    max-width: 275px;
    display: block;
    margin: 30px auto;
  }

  .main__welcome {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 10vh;
    width: 90vw;
  }

  .main__welcome-lang {
    justify-content: space-between;
    width: 400px;
    height: 317px;
    min-height: 300px;
  }

  .main__lang-choice {
    flex-direction: row;
    justify-content: space-around;
  }

  .navbar__menu {
    flex-direction: row;
    justify-content: center;
    position: static;
  }

  .menu__item {
    margin: 10px;
    margin-bottom: 0;
  }

  .menu__link {
    margin: 0 20px;
  }

  .navbar__hamburger {
    display: none;
  }

  .info-container {
    display: flex;
  }

  .container__couple {
    width: 50vw;
  }

  .container__couple-photo {
    height: 83vh;
  }

  .container__couple-text {
    font-size: 3vw;
    bottom: 2vw;
  }

  .container__announcement {
    justify-content: center;
    align-items: center;
    width: 60%;
  }

  .announcement__info {
    font-size: 2.5vw;
    margin: 15px;
    /* color: rgb(123, 144, 126); */
    color: black;
  }
}
