/* css reset + global styles */
html:focus-within {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

/* ================================================ */

body {
  background-color: white;
}

a {
  font-family: Great Vibes;
  text-decoration: none;
  padding: 5px;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.golden-line-top {
  padding-top: 20px;
  border-bottom: 1px solid rgba(188, 133, 81, 253);
}

.golden-line-bottom {
  padding-top: 20px;
  border-top: 1px solid rgba(188, 133, 81, 253);
}

.main {
  width: 90%;
  margin: 10px auto;
}

.main__logo {
  width: 30%;
  display: block;
  margin: 30px auto;
}

.main__welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__welcome-lang {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin: 20px 50px;
  margin-bottom: 0;
}

.main__welcome--lang-choice {
  text-align: center;
  padding-top: 10px;
}

.main__welcome-cz,
.main__welcome-fr {
  font-family: Great Vibes;
  font-size: 30px;
}

.main__lang-choice {
  font-family: Great Vibes;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__welcome-fr {
  color: rgba(188, 133, 81, 253);
}

.main__lang-choice--fr a {
  color: rgba(188, 133, 81, 253);
}

.main__lang-choice--cz {
  padding: 10px 50px;
  background-image: url('img/tree.png'), url('img/tree.png');
  background-size: 80px;
  background-repeat: no-repeat, no-repeat;
  background-position-x: -33px, 111px;
  background-position-y: 20px;
}

.main__lang-choice--fr {
  padding: 10px 50px;
  background-image: url('img/tree.png'), url('img/tree.png');
  background-size: 80px;
  background-repeat: no-repeat, no-repeat;
  background-position-x: -33px, 132px;
  background-position-y: 20px;
}

/* ================ menu ================ */
.header {
  border-bottom: 1px solid rgb(117, 140, 120);
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
}

.navbar__hamburger {
  display: block;
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin: 15px 0;
}

.navbar__hamburger.active .navbar__hamburger-bar:nth-child(2) {
  opacity: 0;
}

.navbar__hamburger.active .navbar__hamburger-bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.navbar__hamburger.active .navbar__hamburger-bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.navbar__hamburger-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.navbar__menu {
  position: fixed;
  right: -100%;
  top: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  transition: 0.3s;
  background-color: white;
}

.navbar__menu.active {
  right: 0;
}

.menu__item {
  margin: 15px 0;
}

.menu__link {
  font-family: Great Vibes;
  font-size: 26px;
}

.menu__logo {
  width: 130px;
}

/* ========== homepage container ============== */

.container__couple {
  display: flex;
  flex-direction: column;
}

.container__couple-photo {
  position: relative;
  height: 70vh;
  background-image: url('img/photo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  z-index: -1;
}

.container__couple-text {
  position: absolute;
  bottom: 5vw;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: Great Vibes;
  font-size: 8vw;
  text-align: center;
}

.container__couple-text-fr {
  position: absolute;
  bottom: 1vw;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: Great Vibes;
  font-size: 8vw;
  text-align: center;
}

.container__announcement {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

.announcement__half-logo1 {
  margin-left: 7%;
  margin-right: auto;
  margin-top: 30px;
}

.announcement__half-logo2 {
  margin-left: auto;
  margin-right: 7%;
  margin-bottom: 30px;
  margin-top: -40px;
}

.announcement__half-logo2,
.announcement__half-logo1 {
  width: 200px;
}

.announcement__info {
  margin-left: auto;
  margin-right: auto;
  font-family: Great Vibes;
  font-size: 5vw;
  margin-bottom: 15px;
}

/* ================== timeline ================= */

.timeline {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}

.timeline__title {
  font-size: 40px;
  font-family: Great Vibes;
  margin-top: 30px;
  margin-bottom: 20px;
}

.timeline__time {
  font-weight: bold;
  font-family: Great Vibes;
  margin-right: 25px;
}

.timeline__text {
  margin: 10px;
  font-family: Great Vibes;
  font-size: 27px;
}

/* ================ news ============== */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__news {
  border: 1px solid rgba(188, 133, 81, 253);
  padding: 15px;
  margin: 15px;
  margin-bottom: 0;
}

.container__news-text {
  min-width: 340px;
  height: auto;
  padding-bottom: 5px;
}

.container__news-headline {
  font-size: 30px;
  font-family: Great Vibes;
  font-weight: normal;
}

.container__news-link {
  font-family: Arial, Helvetica, sans-serif;
}

.coming-soon {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-family: Great Vibes;
  font-size: 50px;
}

@media (min-width: 542px) {
  .container__couple-photo {
    height: 91vh;
  }
}

@media (min-width: 769px) {
  .main {
    height: 88.5vh;
  }

  .main__logo {
    width: 25%;
    max-width: 275px;
    display: block;
    margin: 30px auto;
  }

  .main__welcome {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 10vh;
    width: 90vw;
  }

  .main__welcome-lang {
    justify-content: space-between;
    width: 400px;
    height: 317px;
    min-height: 300px;
  }

  .main__lang-choice {
    flex-direction: row;
    justify-content: space-around;
  }

  .navbar__menu {
    flex-direction: row;
    justify-content: center;
    position: static;
  }

  .menu__item {
    margin: 10px;
    margin-bottom: 0;
  }

  .menu__link {
    margin: 0 20px;
  }

  .navbar__hamburger {
    display: none;
  }

  .info-container {
    display: flex;
  }

  .container__couple {
    width: 50vw;
  }

  .container__couple-photo {
    height: 83vh;
  }

  .container__couple-text,
  .container__couple-text-fr {
    font-size: 3vw;
    bottom: 3vw;
  }

  .container__announcement {
    justify-content: center;
    align-items: center;
    width: 60%;
  }

  .announcement__info {
    font-size: 2.5vw;
    margin: 15px;
    color: black;
  }

  .timeline__title {
    text-align: center;
  }

  .container {
    justify-content: center;
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
  }
}
